#browse {
  padding-top: 80px;
  min-height:500px;

  .container, .row {
    min-height:500px;
  }

  .block__title {
    padding-bottom: 95px;
  }

  @media (max-width: 1024px) {
    padding-top: 0;
    min-height: 400px;
  }
}

#pres {
  background: $color-gray;
  padding-bottom: 120px;

  .block__title {
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 30px;
  }

  .divPaddingTop {
    padding-top: 140px;

    @media (max-width: 1024px) {
      padding-top: 120px;
    }
  }
}

.block__title {
  color: $color-green;
  font-size: 45px;
  @include textBasics(700);
  line-height: 68px;

  @media (max-width: 1024px) {
    font-size: 36px;
    line-height: 48px;
  }
}

.more__link {
  color: $color-dark;
  font-size: 24px;
  @include textBasics;
  line-height: 33px;
  text-transform: capitalize;
  cursor: pointer;

  &::after {
    padding-left: 10px;
    content: '\f101';
    font-family: 'FontAwesome';
    color: $color-orange;
    font-weight: 300;
    font-size: 24px;
  }

  &:hover {
    text-decoration: none;
    color: $color-dark;
      &::after {
        color: $color-blue;
        transition: color .2s;
      }
  }
}

.pointsBg {
  background: url("../img/points.svg") no-repeat 0% 50%;
  background-size: 58%;
  padding-left: 60px!important;
  padding-top: 70px;

  @media (max-width: 1024px) {
    background: url(../img/points.svg) no-repeat 0 26%;
    background-size: 50%;
    padding-left: 40px!important;
  }
}

#wallet {
  background: url("../img/letter.svg") no-repeat -50% 0%;
  background-size: 50%;
  min-height:640px;
  position: relative;
  padding-top: 135px;

  .container, .row {
    min-height:500px;
  }

  .row {
    background: url("../img/points.svg") no-repeat 50% 50%;
    background-size: 35%;
  }

  .imgBlock {
    position: absolute;
    right: 0;
  }

  .block__title {
    padding-top: 50px;
  }

  p {
    padding-bottom: 95px;
  }
}

.imgBlock {
  width: 100%;
  img {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.13);
  }
}

.imgBlockWrapper {
  position: relative;
  padding-top: 50px;

  & .imgBlock {
    width: 325px;

    @media (max-width: 1315px) {
      width: 275px;
    }

    @media (max-width: 1024px) {
      width: 225px;
    }

    &:last-child {
      position: absolute;
      left: 50%;
      top: 50%;

      @media (max-width: 1024px) {
        left: 40%;
      }
    }
  }
}