@import "base";

.header {
  width: 100%;
  padding: 42px 0px;
  @include flexLayout;

  @media (max-width: 575px) {
    padding-top: 0;
  }
}

.nav {
  text-align: right;

  &__btn {
    cursor: pointer;
    color: white;
    display: none;
    i {
      font-size: 28px;
    }
  }
  &__list {
    padding: 10px 20px;
    margin: 0;
    list-style-type: none;
    @include flexLayout(center);
    align-items: center;
  }
  &__link {
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $color-orange;
      text-decoration: none;
      transition: color .2s;
    }
  }
}


@media only screen and (max-width : 768px) {
  .nav {
    &__btn {
      @include flexLayout(flex-end);
      padding: 10px 20px;
    }
    &__list {
      display: none;
      padding: 10px 0;
    }
    &__link {
      display: inline-block;
      width: 100%;
    }
  }
}
