* {
  margin:0;
  padding: 0;
  font-family: 'Nunito';
  box-sizing: border-box;
}

#title {
  min-height: 1135px;
  background: url("../img/bg.png") center no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 800px) {
    min-height: 1000px;
  }
  @media (max-width: 767px) {
    min-height: 820px;
  }
  @media (max-width: 600px) {
    min-height: 600px;
  }
}

.main__title {
  font-size: 50px;
  @include textBasics(800);
  letter-spacing: 0.02em;
  color: white;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: 800px) {
    font-size: 36px;
    line-height: 36px;
  }
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 30px;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.sub__title {
  font-size: 36px;
  @include textBasics;
  line-height: 74px;
  letter-spacing: 0.02em;
  color: white;

  @media (max-width: 1024px) {
    font-size: 30px;
    line-height: 50px;
  }
  @media (max-width: 800px) {
    font-size: 28px;
    line-height: 44px;
  }
  @media (max-width: 767px){
    font-size: 24px;
    line-height: 36px;
  }
  @media (max-width: 600px){
    font-size: 20px;
    line-height: 28px;
  }
}

.headerTitles {
  padding-top: 100px;
  @media (max-width: 767px) {
    padding-top: 50px;
  }
  @media (max-width: 600px) {
    padding-top: 0px;
  }
}

.imgWrapper {
  position: absolute;
  right: 0;
  bottom: 200px;

  @media (max-width: 600px) {
    bottom: 40px;
  }

  &__img {
    width: 80%;
    height: auto!important;
    object-fit: contain;
    
    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 767px) {
      width: 65%;
    }
  }

  @include flexLayout(flex-end);
}

@media (max-width: 575px) {
  #title, #browse, #pres, #textblock, #tableblock {
    padding: 30px 15px;
  }

  #footerblock {
    padding: 0px 15px;
  }
}
