#textblock {
  height: 100%;
  margin-bottom: 50px;
  color: $color-dark;

  @media (max-width: 575px) {
    margin-bottom: 0px;
  }

  p {
    font-size: 18px;
    @include textBasics(400);
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: center;

    @media (max-width: 991px) {
      line-height: 26px;
      padding: 0 15px;
      font-size: 16px;
    }

    @media (max-width: 767px) {
      line-height: 22px;
      padding: 0 0px;
      font-size: 13px;
    }

    @media (max-width: 575px) {
      line-height: 18px;
      padding: 0 0px;
      font-size: 12px;
    }
  }
}

.small__title {
  font-size: 24px;
  @include textBasics;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-bottom: 48px;

  @media (max-width: 991px) {
    padding-bottom: 15px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
    padding-bottom: 0px;
  }
}


