section#browse
    .container.container-fluid.h-100
        .row
            .col-md-7.col-12.pointsBg
                h3.block__title Browse through a range of our crypto Products.
                a.more__link(href='#') view more
            .col-md-5.col-12
                .imgBlockWrapper
                    img(src=("../img/block1_1.png")).imgBlock
                    img(src=("../img/block1_2.png")).imgBlock