footer
    .container.container-fluid.h-100
        .row
            .col-12
                .socialMedia
                    p contact us
                    .socialIconsWrap
                        a.social__link(href='#'): i.fab.fa-telegram-plane
                        a.social__link(href='#'): i.fab.fa-twitter
                        a.social__link(href='#'): i.fab.fa-facebook-square
                .sendEmail