footer#footerblock
    .container.container-fluid.h-100
        .row
            .col-12.d-flex.justify-content-between.topFooter
                .socialMedia
                    p contact us
                    .socialIconsWrap
                        a.social__link(href='#'): i.fab.fa-telegram-plane
                        a.social__link(href='#'): i.fab.fa-twitter
                        a.social__link(href='#'): i.fab.fa-facebook-square
                .sendEmail
                    p.textBoldCursive Get Updates from us
                    form(action="/cookie" method="POST")#formEmail
                        input(type="email" name="email" placeholder="Type Email address")
                        input(type="submit" value="Send")#submit
            .col-12.d-flex.justify-content-between.bottomFooter.px-0
                .left
                    a.textBoldCursive(href='#') About Us
                    a.textBoldCursive(href='#') Contact Us
                .right
                    a.textBoldCursive(href='#') FAQ
                    a.textBoldCursive(href='#') Back to top
