section#title
    .container.container-fluid
        .row
            header.header
                .logo
                    a.logo__link(href='#'): img(src=("../img/logo.svg"))
                nav.navbar
                    label#js-navbar-toggle.navbar-toggle(for='chkToggle')
                        i.fa.fa-bars
                    input#chkToggle(type='checkbox')
                    ul#js-menu.main-nav
                        li
                            a.nav-links(href='#textblock') About
                        li
                            a.nav-links(href='#browse') Products
                        li
                            a.nav-links(href='#tableblock') Rate
                        li
                            a.nav-links(href='#footerblock') Support
        .row.headerTitles
            .col-md-12.pl-0
                h1.main__title Buy and Sell Cryptos easier than ever
            .col-md-7.col-sm-7.col-12.pl-0
                p.sub__title With our new finance app, you will ever be on track of all transactions in a smart and easy way.
    .imgWrapper
        img(src=("../img/home.png")).imgWrapper__img