section#pres
    .container.container-fluid.h-100
        .row
            .col-md-7.col-sm-7.col-12.pointsBg.divPaddingTop
                img(src=("../img/graphic.png")).imgBlock
            .col-md-5.col-sm-5.col-12.divPaddingTop
                h3.block__title See a graphical representation of your finances via our crypto chart
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor imperdiet tincidunt. Nullam nec nulla tortor.
                a.more__link(href='#') view more