section#tableblock
    .container.container-fluid.h-100
        .row
            table
                tr
                    th id
                    th Name
                    th Symbol
                    th Price in USD
