section#wallet
    .container.container-fluid.h-100
        .row
            .col-md-5.col-sm-5.col-12
                h3.block__title Manage Crypto Wallets
                p Manage your digital or traditional money crypto wallets.
                a.more__link(href='#') view more
            .col-md-7.col-sm-7.col-12.divPaddingTop
                img(src=("../img/wallet.png")).imgBlock