doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Test
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='fonts/nunito/nunito.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    body
        include partials/home.pug
        include partials/textblock.pug
        include partials/browseblock.pug
        include partials/presblock.pug
        include partials/walletblock.pug
        include partials/table.pug
        include partials/footer.pug