doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Test
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='fonts/nunito/nunito.css')
        script(src="https://kit.fontawesome.com/5b5044ab0c.js", crossorigin="anonymous")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="js/main.js", defer)

    body
        include partials/home.pug
        include partials/textblock.pug
        include partials/browseblock.pug
        include partials/presblock.pug
        include partials/walletblock.pug
        include partials/table.pug
        include partials/footer.pug